<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/api/door1" class="btn btn-info">Porte 1</a>
    <a href="/api/door2" class="btn btn-info">Porte 2</a></br>
    <a href="/api/door2" class="btn btn-info">Portail</a></br>
    <a href="/api/portal&door1" class="btn btn-info">Porte 1 + portail</a>
    <a href="/api/portal&door2" class="btn btn-info">Porte 2 + portail</a></br>
  </body>
</html>
